{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
  <div class="card-body col-md-6 offset-md-3 border rounded shadow-lg p-4 mb-5 bg-body rounded">
    <h1>Create an account</h1>
    <p>Please, sign up using the following form:</p>
    <form method="post">
      {{ user_form|crispy }}
      {% csrf_token %}
    <p><input type="submit" value="Create my account" class="btn btn-primary"></p>
    </form>
  </div>
</div>
{% endblock %}