{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock %}

{% block content %}
<div class="min-w-full flex flex-col items-center mb-10">
  <div class="bg-white text-slate-700 shadow-md rounded-lg w-full md:w-full mt-10">
    <div class="text-center border-b p-4">
      <h2 class="text-2xl font-semibold">Change your password</h2>
    </div>
    <div class="p-5">
      <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" 
          class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 shadow-xl">
          Change
        </button>
        <a href="{% url 'wrsm_app:dashboard' %}" 
          class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 shadow-xl">
          Cancel
        </a>
      </form>
    </div>
  </div>
</div>
{% endblock %}