{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Add Historical Sales{% endblock %}

{% block content %}
{% include 'wrsm/_sales_form_shared.html' with page_title="Add Historical Sales" page_subtitle="Record a sale from a previous date." show_created_date=True paid_label="Customer paid (as of this date)" submit_label="Submit" %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.3/build/qrcode.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/add_sales.js' %}?v=3.6"></script>
{% endblock %}