{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}{% if is_update %}Update Sales{% else %}Add Sales{% endif %}{% endblock %}

{% block content %}
{% if is_update %}
{% include 'wrsm/_sales_form_shared.html' with page_title="Update Sales" page_subtitle="Update this sales record." show_created_date=False paid_label="Customer paid now" submit_label="Save Changes" %}
{% else %}
{% include 'wrsm/_sales_form_shared.html' with page_title="Add Sales" page_subtitle="Create a new sale record." show_created_date=False paid_label="Customer paid now" submit_label="Submit" %}
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.3/build/qrcode.min.js" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/add_sales.js' %}?v=3.8"></script>
{% endblock %}
