{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Update Product{% endblock %}

{% block content %}
<div class="min-w-[400px] flex flex-col items-center mb-10">
  <div class="bg-white text-slate-700 shadow-md rounded-lg w-full md:w-full mt-10">
    <div class="text-center border-b p-4">
      <h2 class="text-2xl font-semibold">Update Product</h2>
    </div>
    <div class="p-5">
      <form action="" method="post" id="productForm">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 shadow-xl" 
          type="submit">
          Submit
        </button>
        <a href="{% url 'wrsm_app:products' %}" 
          class="bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600 shadow-xl">
          Cancel
        </a>
      </form>
    </div>    
  <div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/add_product_script.js' %}"></script>
{% endblock %}